.container.codelitt-big
  = image_tag("index/Homepage-1-Codelitt_graphic.svg", :alt => "homepage")
  %h1.we-build
    We build startups.

.container.cubes-big
  .cubes
    = image_tag("index/Homepage-2-Cubes.svg", :alt => "cubes")
  %h3.we-work-cubes
    We work with many different sizes of companies and corporations, marrying
    the best of corporate resources and expertise with the best of startup
    innovation and speed.
    %span We are not an agency.
  .cube
    = image_tag("index/Homepage-3-Cube_Incubator.svg", :alt => "cubes")
  .we-are-innovation
    %h3.we-are
      We are
      %br
      a startup and
    %h2.innovation
      INNOVATION
      %br
      INCUBATOR
    %h4.learn
      LEARN HOW WE DO IT >

.container.ethos
  %h1
    It's in our ethos to combine
  .ethos-image
    = image_tag("index/Homepage-4-Ethos.svg", :alt => "ethos")
  .ethos-text.ethos-innovation
    %h2
      INNOVATION
    %p
      It's at the heart of everything we do. We connect networks of ideas
      to innovate across platforms and technologies to bring our clients
      bleeding edge solutions.

  .ethos-text.ethos-disruption
    %h2
      DISRUPTION
    %p
      We have never been very good at playing the rules and we like to make
      a bang with the products we help build. We don't believe good
      technology should ever be held back by constraints of mediocrity.

  .ethos-text.ethos-startup
    %h2
      STARTUP SPEED AND AGILITY
    %p
      Whether we're building a prototype or a production product, we help
      organisations itereate through development at startup speed. We
      understand the challenges and can help work through them.

  .ethos-text.ethos-businness
    %h2
      BUSINESS ACUMEN
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

.container.create-believe-work
  = image_tag("index/Homepage-5-Create_Believe_Work.svg", :alt => "ethos")
  .row
    .col-xs-12.col-sm-4.we-section.we-create
      %h4
        %span
          We create
        TECHNOLOGY & EMERGING MEDIA PRODUCTS
      %p
        We work with our clients to define, conceptualise, prototype, and create
        new technology and emerging media products. The products range from web
        and mobile applications to custom operating systems to integration of technology platforms.
    .col-xs-12.col-sm-4.we-section.we-believe
      %h4
        %span
          We believe
        IN SIMPLICITY BY DESIGN & BREAKING SOME THINGS ALONG THE WAY
      %p
        Simplicity and elegance is a core value baked into our innovation and
        development process. The best technology is the most simple in its
        design. New ideas and thinking come from willingness to disrupt the
        status quo.
    .col-xs-12.col-sm-4.we-section.we-work
      %h4
        %span
          We work
        WITH SMART PEOPLE WHO CHALLENGES US
      %p
        We work with many different sizes of companies from large fortune 500's
        to small design firms. They all have in common the desire for change and
        progress. We are always in the pursuit of new challenges and opportunities to learn more.