.container.always-core
  = image_tag("services/Services-1-Graphic.svg", :alt => "services-1")
  %h1
    Always at the core
    %br
    of our creation process
  .always-core-list
    %p
      INNOVATION
    %span
    %p
      DISRUPTION
    %span
    %p
      STARTUP SPEED AND AGILITY
    %span
    %p
      BUSINESS ACUMEN

.container.identifying-container
  %h1
    Identifying the right solution through
  .identifying-container-img
    = image_tag("services/Services-2-Solutions.svg", :alt => "services-2")
  .identifying-container-list
    %p.strategy
      STRATEGY &#38; RESEARCH
    %p.marketing
      MARKETING
    %p.technology
      TECHNOLOGY DEVELOPMENT
    %p.design
      DESIGN

.right-from-img
  = image_tag("services/Services-3-Graphic_get-go.svg", :alt => "services-3")

.container-fluid.right-from
  %h1
    Right from the get-go
  .row.right-from-row
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-2.right-from-insights
      %h3
        Early insights
      %h4
        EMERGING TECHNOLOGY, USER NEEDS,
        &#38; MARKET DIRECTION
      %p
        We believe, breath, and drink tech. We'll help you determine what your
        users expect from your product or application. We work with our cilents
        to keep them two steps ahead. Technology moves fast, but we move faster.
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-1.right-from-ideation
      %h3
        Ideation &#38; conceptualisation
      %h4
        EARLY STAGE IN PRODUCT
        DEVELOPMENT
      %p
        These are the far out ideas, the blue sky scenarios, and the
        visualisation of what is possible. We help our clients step out of
        their comfort zones and then identify the winning concepts.

.collab-creation-img
  = image_tag("services/Services-4-Graphic_creation.svg", :alt => "services-4")
.collab-creating-handle
  = image_tag("services/Services-5-Handle-detail.svg", :alt => "services-5")

.container-fluid.right-from.collab-creation
  %h1
    Collaborative creation
  .row.right-from-row
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-2
      %h3
        Prototyping
        &#38; concept refinement
      %h4
        BUILDING PROTOTYPES
        FOR HANDS ON INTERACTION
      %p
        Before sending something into production, we find it useful to
        develop prototypes to test with both internal and external stakeholders.
        We build small minimal viable products quickly to determine market fit,
        validate hypothesis, and gather more ideas.
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-1
      %h3
        Development
        &#38; implementation
      %h4
        PROJECT PLANNING, PRODUCT
        MANAGEMENT &#38; DEVELOPMENT
      %p
        Our software and hardware engineering teams iterate through rapid
        development cycles providing larger companies with the agility and
        bandwidth that they may not have internally. Our process enables us
        to launch quickly and provide fast responses to customers' needs and
        the best possible end-product that is ever-evolving and growing.

.collab-creation-img.through-every-img
  = image_tag("services/Services-6-Graphic_stages.svg", :alt => "services-4")
.collab-creating-handle.through-every-handle
  = image_tag("services/Services-5-Handle-detail.svg", :alt => "services-5")

.container-fluid.right-from.through-every
  %h1
    Through every stage
  .row.right-from-row
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-2
      %h3
        Consulting services
      %h4
        GENERAL CONTRACTOR, PROJECT
        PLANNING &#38; PRODUCT MANAGEMENT
      %p
        When our clients want to use internal or third party vendors, we help plan and manage the product throughout its development ensuring best results.
    .col-xs-12.col-sm-6.col-lg-4.col-lg-offset-1.we-help
      %p
        We help connect the right people and the best specialists, implement user feedback throughout the development cycles, and provide best practices consulting. projects under our direction have consistently costed less and finished earlier than projects without.
